html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", "Helvetica", "sans-serif";
  margin: 0;
  font-size: 3em;
}

.field {
  margin: 20px 0 0 0;
}

.field__textinput {
  font-size: 1em;
  padding: 15px 0;
  text-align: center;
  min-width: 500px;
}

/*Logo Styles*/

#logo {
  display: block;
  margin: auto;
  width: 666px;
  height: 200px;
  border-radius: 1em;
  opacity: 0.7;
}


/*
  Section styles
 */
.card {
  display: none;
}

.typeFace{
  background-color: whitesmoke;
}

.card__prompt {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.card__button {
  font-size: 1.1em;
  margin: 30px 0 0 0;
  text-align: center;
}


/*
  Button styles
 */

.btn {
  text-decoration: none;
  background-color: white;
  color: #888;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 5px;
  min-width: 260px;
}

.btn--orange {
  border-color: #FF4136;
  color: white;
  background-color: #FF4136;
}

.btn--blue {
  border-color: #0074D9;
  color: white;
  background-color: #0074D9;
}

.btn--yellow {
  border-color: #E4BD00;
  color: white;
  background-color: #F3C500;
}

.btn--big {
  font-size: 28px;
  padding: 10px;
  font-weight: 400;
}

.btn--small {
  min-width: 50px;
}

.btn__prompt {
  background-color: white;
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: -10px;
  font-weight: 600;
  background-color: #333;
  opacity: .4;
  border-radius: 5px 0 0 5px;
  left: 37px;
  float: left;
}

.btn__text {
  padding: 0 50px 0 20px;
  border-radius: 0 5px 5px 0;
}

/*********************
Battlefield
**********************/

.row {
  margin: 0%  auto;
}

#battleground {
  position: fixed;
  height: 100%;
  width: 100%;
  background: url("foggyBattle2.png") no-repeat fixed center top;
  background-size: cover;
}
.col-lg-3{
  margin: 20px;
}

#statsArea {
  margin: 0;
  width: 100%;
}

#player {
  background-color: WhiteSmoke;
}

.attack_button {
  padding: 5px;
}

#player,
#enemy {
  height: 350px;
  width: 250px;
  border: 2px solid Pink;
  background-color: WhiteSmoke;
  opacity: 0.6;
  border-radius: 1em;
}

#enemyStats,
#playerStats {
  text-decoration: bold underline;
}

/*Match Results*/

#youWon {
  font-size: 3em;
  color: blue;
  text-align: center;
}
#youLost {
  font-size: 2em;
  color: Firebrick;
  text-align: center;
}
#missed {
  font-size: 2em;
  color: red;
  text-align: center;
}

/*********************
Background Images
**********************/

#player-setup {
  position: fixed;
  height: 100%;
  width: 100%;
  background: url("brokenCastle.png") no-repeat;
  background-size: cover;
}
#class-select{
  position: fixed;
  height: 100%;
  width: 100%;
  background: url("hedgeStone.png") no-repeat;
  background-size: cover;
}
#weapon-select {
  position: fixed;
  height: 100%;
  width: 100%;
  background: url("foggyforest2.png") no-repeat;
  background-size: cover;
}

#attackButton {
  border-radius: 1em;
  box-shadow: 3px 3px 3px DarkGrey;
  height: 93px;
  width: 260px;
  background-image: url("attack_button.png");
  opacity: 0.9;
}

#attackButton:hover{
  border: 2px solid WhiteSmoke;
  opacity: 1;
}

#playerHealth, #enemyHealth {
  color: red;
}
/*********************
Animations
**********************/

#animations {
  position: fixed;
  bottom: 11%;
  left: 40%;
  width: 100%;
}

#playerSpriteContainer {
  width: 300px;
  height: 300px;
  display: inline-block;
  background-image: url("http://res.cloudinary.com/jessicasa/image/upload/v1464016838/oldmanspritesheet_pxdh9p.png");
  animation: play .6s steps(3) infinite;
}
#enemySpriteContainer {
  width: 300px;
  height: 300px;
  display: inline-block;
  background-image: url("http://res.cloudinary.com/ddos6irdv/image/upload/v1464017329/enemyspritesheet_yyqe8p.png");
  animation: play .6s steps(3) infinite;
}



@keyframes play {
   from { background-position: 0px; }
     to { background-position: 900px; }
}
